<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="icon" href="person.png" />
    <link rel="stylesheet" href="style/tyle.css" />

    <!-- BOOSTRAP -->
    <link href="boostrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background-color: azure">
    <!-- navbar  -->
    <!-- <div class="navbar">
      <ul class="nav_list">
        <img src="person.png" alt="" />
        <li><a href="indext.html">Home</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="testimonial.html" >Testimonials</a></li>
      </ul>
      <a href="#" class="contact">Contact Me</a>
    </div> -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <img  src="img/assets/img/logo.png" alt="Bootstrap" width="30" height="24">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/indext">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testi">Testimonials</a>
            </li>
          </ul>
          <a class="btn btn-orengered" href="/contact">Contact</a>
        </div>
      </div>
    </nav>


    <!-- input -->
    <div class="input">
      <form class="contact-form" onsubmit="submitForm()">
        <div class="contact-filed">
          <label for="nama">Name</label>
          <input id="nama" type="text" />
        </div>
        <div class="contact-filed">
          <label for="email">Email</label>
          <input id="email" type="text" />
        </div>
        <div class="contact-filed">
          <label for="subjek">subject</label>
          <input id="subjek" type="text" />
        </div>
        <div class="contact-filed">
          <label for="skill">Skill</label>
          <select name="" id="skill">
            <option value="">Select Any Skill..</option>
            <option value="FrondEnd">FrondEnd</option>
            <option value="BackEnd">BackEnd</option>
          </select>
        </div>
        <div class="contact-filed">
          <label for="message">Message</label>
          <textarea name="" id="message"></textarea>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <script src="js/js.js"></script>
    <script src="boostrap/bootstrap.bundle.min.js" ssintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
